.App {
  text-align: center;
}
h1{
  color: red;
}
h3  {
  padding: 10px;
  color: red;
}
.SoupBase, .Size, .Toppings, .NoodleType {
  width: 220px;
  margin: 20px;
}
.BuildBowl, .InnerRamen, .Register, .Account  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Toppings, .Right {
  border: 1px solid black;
}
.Body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 20px;
}
.Left {
  border: 1px solid black;
  margin-right: 20px;
  width: 65%;
}
.InnerRight {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.Apps, .Desserts {
  border: 1px solid black;
  margin: 10px;
}
.RegisterBody  {
  margin-left: 50px;
}
.Name, .Address, .UserInfo{
  width: 100%;
  margin: 20px;
}
.Logo {
  border-radius: 50%;
  height: 100px;
}
.NameLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.Order  {
  border: 1px solid black;
  width: 80%;
  margin-left: 150px;
  margin-top: 40px;
  padding: 10px;
}

.errors {
  color: red;
}